<div class="container mt-5">
  <div class="row gx-5">
    <div class="col-md-6">
      <h2>
        <i class="material-icons align-middle">contact_mail</i>
        Contáctanos
      </h2>
      <hr>

      <!-- Información de contacto -->
      <p>
        <i class="material-icons align-middle">phone</i>
        <strong>Teléfono:</strong>
        <a href="tel:+34123456789">+34 645 13 11 03</a>
      </p>
      <p>
        <i class="material-icons align-middle">location_on</i>
        <strong>Dirección:</strong>
        Av. Cervantes, 5, Nº 5 BAJO, 14850 Baena, Córdoba
      </p>
      <p>
        <i class="material-icons align-middle">camera_alt</i>
        <strong>Instagram:</strong>
        <a href="https://www.instagram.com/mundonomadaa" target="_blank">&#64;mundonomadaa</a>
      </p>

      <hr>
      <h4>Formulario de Contacto</h4>
      <form>
        <!-- Nombre -->
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <div class="input-group">
            <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" />
          </div>
        </div>

        <!-- Correo Electrónico -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <div class="input-group">
            <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" />
          </div>
        </div>

        <!-- Mensaje -->
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje</label>
          <div class="input-group">
            <textarea class="form-control" id="mensaje" placeholder="Escribe tu mensaje"
              style="height: 150px;"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg w-100">Enviar Mensaje</button>
      </form>
    </div>

    <!-- Sección Derecha: Ubicación (Mapa de Google) -->
    <div class="col-md-6">
      <h4>Ubicación</h4>
      <div class="ratio ratio-16x9 shadow-sm">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1222.1639907177769!2d-4.321207854788916!3d37.6176222012303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6da147624035cb%3A0x8e1d04cbaafeb11a!2sMundo%20Nomada!5e1!3m2!1ses!2ses!4v1740398554464!5m2!1ses!2ses"
          width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>