/* Resetear márgenes y padding generales */
html, body {
  margin: 0;
  padding: 0;
}

/* Estilos para la invitación */
.invitation {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--color-primario);
}

.toggle-btn {
  cursor: pointer;
  font-size: 3rem;
  color: var(--color-primario);
  transition: color 0.3s ease, transform 0.3s ease;
}

.toggle-btn:hover {
  color: var(--color-hover);
  transform: scale(1.1);
}

/* Carousel: separación y transiciones para imágenes y controles */
.carousel {
  margin-top: 20px; /* Ajusta según la altura de tu menú */
  padding-bottom: 20px; /* Espacio inferior */
  width: 100vw;
  margin-left: calc((100vw - 100%)/ -2);
}

.carousel-item img {
  width: 100vw;  /* Ancho completo del viewport */
  height: 150vh; /* Altura completa del viewport */
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
  filter: brightness(0.95);
}

/* Estilos para los textos y cards */
.card-title {
  font-weight: 600;
  transition: color 0.3s ease;
}

.card-title:hover {
  color: var(--color-hover);
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Sección "Nuestra Historia" */
.historia-section {
  padding-bottom: 50px; /* Ajusta este valor según lo necesites */
}

.historia-section .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historia-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}